<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
     <div class="container">
        <h2 class="mt-4">Carrito de Compras</h2>

        {{#each carts}}
        {{#if this.products.length}}
        <div class="card-deck">
            {{#each this.products}}
            {{#each this.product.thumbnails}}
            <img src="{{this}}" class="card-img-top" alt="{{../../product.title}}">
            {{/each}}
            <div class="card-body" id="cart">
                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">Precio: ${{this.product.price}}</p>
                <p class="card-text">Cantidad: {{this.quantity}}</p>
                <button onclick="decreaseQuantity('{{this.product._id}}', '{{../_id}}')">-</button>
                <button onclick="increaseQuantity('{{this.product._id}}', '{{../_id}}')">+</button>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p class="mt-4">El carrito está vacío.</p>
        {{/if}}
        {{/each}}

    <a href="/api/carts/{{cartId}}/clear" class="btn btn-danger">Vaciar carrito</a>

    <a href="/api/products" class="btn btn-info">Ver productos</a>
        
    <a href="/api/carts/{{cartId}}/purchase" class="btn btn-dark">Finalizar compra</a>    
    </div>
    <script>
        function decreaseQuantity(productId, cartId) {
            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); 
                } else {
                    console.error('Error al disminuir la cantidad del producto en el carrito');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function increaseQuantity(productId, cartId) {
            fetch(`/api/carts/${cartId}/products/${productId}`, {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload(); 
                } else {
                    console.error('Error al aumentar la cantidad del producto en el carrito');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function clearCart(cartId) {
            console.log('Clearing cart:', cartId);
            fetch(`/api/carts/${cartId}/clear`, {
                method: 'DELETE'
            })
            .then(response => {
                console.log('Response:', response);
                if (response.ok) {
                    console.log('Cart cleared successfully');
                    window.location.reload(); 
                } else {
                    console.error('Error al vaciar el carrito');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function purchaseCart(cartId) {
    fetch(`/api/carts/${cartId}/purchase`, {
        method: 'POST'
    })
    .then(response => {
        if (response.ok) {
            window.location.reload(); 
        } else {
            console.error('Error al finalizar la compra');
        }
    })
    .catch(error => console.error('Error:', error));
}
    </script>
</body>
</html>
