<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<body>
    <h1>Current session. Iniciaste sesión como {{user.role}}</h1>
    <h2>Hola, {{#if user.first_name}}{{user.first_name}}{{else}}{{user.name}}{{/if}}!</h2>
    <h3>Estos son tus datos:</h3>
    <p>Nombre: {{#if user.first_name}}{{user.first_name}}{{else}}{{user.name}}{{/if}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
    <p>email: {{user.email}}</p>

    <h3>Estos son tus accesos:</h3>

    {{#if isAdmin}}
    <p>Eres un administrador. Aquí puedes ver la lista de usuarios:</p>
    <ul>
        {{#each users}}
        <li>{{this}}</li>
        {{/each}}
        <a href="/products" class="btn btn-info">Ver productos</a>
        <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
        <a href="/api/carts/{{user.cartId}}" class="btn btn-secondary">Ver carrito</a>
        <a href="/api/sessions/profile" class="btn btn-primary">Ir al perfil</a>
        <a href="/realtimeproducts" class="btn btn-dark">Modificar productos</a>        
    </ul>
    {{else}}   
    <a href="/products" class="btn btn-info">Ver productos</a>
    <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
    <a href="/api/carts/{{user.cartId}}" class="btn btn-secondary">Ver carrito</a>
    <a href="/api/sessions/profile" class="btn btn-primary">Ir al perfil</a>
     <a href="/realtimeproducts" class="btn btn-dark">Modificar productos</a>
     <a href="/api/users/premium/{{user._id}}" class="btn btn-warning">Pasar a premium</a>
    {{/if}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>