<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Documentos</title>
</head>
<body>
    <h1>Subir Documentos</h1>
    <p>Usuario: {{user.email}}</p>
    <p>Rol Actual: {{user.role}}</p>

    <h2>Subir Documentos</h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <div>
            <span id="profileStatus">
                Estado: 
                {{#each user.documents}}
                    {{#if (eq name 'profile')}}
                        {{status}}
                    {{/if}}
                {{/each}}
                {{#unless (hasDocument user.documents 'profile')}}
                    pendiente
                {{/unless}}
            </span>
            <label for="profile">Imagen de Perfil:</label>
            <input type="file" id="profile" name="profile">
        </div>

        <br>

        <div>
            <span id="productStatus">
                Estado: 
                {{#each user.documents}}
                    {{#if (eq name 'product')}}
                        {{status}}
                    {{/if}}
                {{/each}}
                {{#unless (hasDocument user.documents 'product')}}
                    pendiente
                {{/unless}}
            </span>
            <label for="product">Imagen de Producto:</label>
            <input type="file" id="product" name="product">
        </div>

        <br>

                <div>
            <span id="identificacionStatus">
                Estado: 
                {{#each user.documents}}
                    {{#if (eq name 'Identificación')}}
                        {{status}}
                    {{/if}}
                {{/each}}
                {{#unless (hasDocument user.documents 'Identificación')}}
                    pendiente
                {{/unless}}
            </span>
            <label for="identificacion">Identificación:</label>
            <input type="file" id="identificacion" name="identificacion">
        </div>

        <br>

        <div>
            <span id="comprobanteDomicilioStatus">
                Estado: 
                {{#each user.documents}}
                    {{#if (eq name 'Comprobante de domicilio')}}
                        {{status}}
                    {{/if}}
                {{/each}}
                {{#unless (hasDocument user.documents 'Comprobante de domicilio')}}
                    pendiente
                {{/unless}}
            </span>
            <label for="comprobante_domicilio">Comprobante de Domicilio:</label>
            <input type="file" id="comprobante_domicilio" name="comprobante_domicilio">
        </div>

        <br>

        <div>
            <span id="comprobanteEstadoCuentaStatus">
                Estado: 
                {{#each user.documents}}
                    {{#if (eq name 'Comprobante de estado de cuenta')}}
                        {{status}}
                    {{/if}}
                {{/each}}
                {{#unless (hasDocument user.documents 'Comprobante de estado de cuenta')}}
                    pendiente
                {{/unless}}
            </span>
            <label for="comprobante_estado_cuenta">Comprobante de Estado de Cuenta:</label>
            <input type="file" id="comprobante_estado_cuenta" name="comprobante_estado_cuenta">
        </div>

        <br>

        <button type="submit">Subir Documentos</button>
        <a href="/current" class="btn btn-success">Volver</a>
    </form>

    <script>
        const uploadForm = document.getElementById('uploadForm');

        uploadForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(uploadForm);
            try {
                const userId = "{{user._id}}"; 
                const response = await fetch(`/api/users/${userId}/documents`, {
                    method: 'POST',
                    body: formData
                });

                if (!response.ok) {
                    throw new Error('No se pudo subir los documentos');
                }

                const data = await response.json();

                alert('¡Los documentos se han subido correctamente!');

                location.reload(true);
            } catch (error) {
                console.error('Error al subir los documentos:', error);
                alert('Error al subir los documentos. Por favor, inténtalo de nuevo más tarde.');
            }
        });
    </script>
</body>
</html>
