<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <div class="container">
        {{#if user}}
           <h2 class="mt-4">¡Bienvenido, {{#if user.first_name}}{{user.first_name}}{{else}}{{user.name}}{{/if}}!</h2>
            <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
            <a href="/api/sessions/profile" class="btn btn-info mr-2">Ir al perfil</a>
            <a href="/api/carts/{{user.cartId}}" class="btn btn-dark mr-2">Ir al carrito</a>
        {{else}}
            <div class="mt-4">
                <a href="/api/sessions/login" class="btn btn-primary mr-2">Iniciar sesión</a>
                <a href="/api/sessions/register" class="btn btn-success">Registrarse</a>                
            </div>
        {{/if}}

        <h2 class="mt-4">Lista de productos</h2>

        {{#if products.length}}
            <div class="card-deck">
                {{#each products}}
                    <div class="card" id="{{this.id}}">
                        {{#each this.thumbnails}}
                            <img src="{{this}}" class="card-img-top" alt="{{../title}}">
                        {{/each}}
                        <div class="card-body">
                            <h5 class="card-title">{{this.title}}</h5>
                            <p class="card-text">Precio: ${{this.price}}</p>
                            <a href="/products/{{this._id}}" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p class="mt-4">No hay productos disponibles.</p>
        {{/if}}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
