<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<body>
    <h1>Perfil</h1>
    <p>Hola, {{#if user.first_name}}{{user.first_name}}{{else}}{{user.name}}{{/if}}!</p>
    <h2>Tus datos</h2>
    <p>Nombre: {{#if user.first_name}}{{user.first_name}}{{else}}{{user.name}}{{/if}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Edad: {{user.age}}</p>
    <p>email: {{user.email}}</p>
    <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>